@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway');

$btnBg: #42f4d4;
$navBg: rgba(15, 10, 10, .85);
$transparentBg: rgba(0, 0, 0, 0);
$greyBorder: #95989A;
$info: #06D4FF;
$link: #005DFF;
$err: #FF0000;
$success: #03EB60;
$cancel: #d9534f;

@keyframes navDropdown {
    from {
        top: -100%;
    }
    to {
        top: 80px;
    }
}
@keyframes navDropdownReverse {
    from {
        top: 80px;
    }
    to {
        top: -100%;
    }
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5, h6, p{
    color: #95989A;
}

a {
    text-decoration: none;
    color: #95989A;
}
a:hover {
    opacity: .65;
}

ul {
    list-style: none;
}

.btn {
    width: 150px;
    font-size: 16px;
    height: 30px;
    background-color: $btnBg;
    color: white;
}
/*------------------------------------------------------------
Navbar
-------------------------------------------------------------*/
.navbar {
    width: 100%;
    background-color: $navBg;
    display: flex;
    height: 80px;
    padding: 5px 10px;
}
.nav-left {
    width: 30%;
    padding: 5px 15px;
}
.nav-logo > h2{
    font-family: 'Cinzel Decorative';
    color: white;
}
.nav-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dropdown-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 40px;
}
.dropdown-menu {
    position: absolute;
    right: 0%;
    top: -100%;
    background-color: $navBg;
}
.v-line {
    width: 100%;
    height: 0px;
    border: 1px solid white;
}
.dropdown-menu button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: $transparentBg;
    color: white;
    padding: 20px 30px;
}
.dropdown-menu li {
    border-top: 1px solid #95989A;
}
.dropdown-slideIn {
    animation: navDropdown;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.dropdown-slideOut {
    animation: navDropdownReverse;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/*------------------------------------------------------------
Landing Page
-------------------------------------------------------------*/
.hero {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/andrew-branch-180244.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero h2 {
    margin-top: -20px;
    margin-bottom: 20px;
}
.hero h2, .hero p {
    color: white;
}
.info {
    padding: 40px;
}
.info h2 {
    margin-bottom: 20px;
    align-self: center;
}
.steps-container {
    display: flex;
    flex-direction: column;
}
.steps-container .line {
    width: 0;
    border: 1px solid #95989A;
    height: 100px;
    align-self: center;
    margin: 15px 0;
}
/*------------------------------------------------------------
Signup page
-------------------------------------------------------------*/
.signup {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/john-mark-kuznietsov-266553.jpg');
    background-size: cover;
}
.signup-container {
    border: 1px solid $greyBorder;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.signup-container h2 {
    text-align: center;
    margin: 20px 0;
}
.signup-container .error-msg-container {
    width: 100%;
    height: 45px;
    border-top: 1px solid $greyBorder;
    padding: 5px 25px;
}
.error-msg-container h4 {
    text-align: center;
    color: $err;
    margin: 5px 0;
}
.signup-container form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.signup-container input:not([type=submit]) {
    border: 1px solid $greyBorder;
    font-size: 28px;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 5px 0;
}
.signup-container input[type="submit"] {
    font-size: 28px;
    color: white;
    padding: 5px;
    margin: 10px 0;
    background-color: $info;
}
.signup-container a {
    color: $link;
    font-size: 16px;
    margin-bottom: 40px;
    align-self: center;
}
/*------------------------------------------------------------
Login page
-------------------------------------------------------------*/
.login {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/john-mark-kuznietsov-266553.jpg');
    background-size: cover;
}
.login-container {
    border: 1px solid $greyBorder;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.login-container h2 {
    text-align: center;
    margin: 20px 0;
}
.login-container .error-msg-container {
    width: 100%;
    height: 45px;
    border-top: 1px solid $greyBorder;
    padding: 5px 25px;
}
.error-msg-container h4 {
    text-align: center;
    color: $err;
    margin: 5px 0;
}
.login-container form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.login-container input:not([type=submit]) {
    border: 1px solid $greyBorder;
    font-size: 28px;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 5px 0;
}
.login-container input[type="submit"] {
    font-size: 28px;
    color: white;
    padding: 5px;
    margin: 10px 0;
    background-color: $info;
}
.login-container a {
    color: $link;
    font-size: 16px;
    margin-bottom: 40px;
    align-self: center;
}
//--------------------------------------------------------------
//Mobile View
@media (max-width: 420px) {
    /*------------------------------------------------------------
    Navbar
    -------------------------------------------------------------*/
    .nav-right {
        padding-right: 15px;
    }
    /*------------------------------------------------------------
    Landing Page
    -------------------------------------------------------------*/
    .hero {
        background-position: center;
        background-size: 265%;
        padding: 0 15px;
    }
    /*------------------------------------------------------------
    Signup page
    -------------------------------------------------------------*/
    .signup {
        padding: 0 30px;
    }
    /*------------------------------------------------------------
    Login page
    -------------------------------------------------------------*/
    .login {
        padding: 0 30px;
    }
    /*------------------------------------------------------------
    Dashboard
    -------------------------------------------------------------*/
    .dash {
        display: none;
    }
    .dash-head {
        width: 100%;
        height: 100px;
        border: 1px solid red;
    }
    .dash-nav-container {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6320EE;
    }
    .dash-nav-container select {
        border: 1px solid $greyBorder;
        font-size: 20px;
        padding: 5px;
    }
    //----- dash groups
    .dash-groups {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    .dash-groups button {
        font-size: 17px;
        width: 200px;
        padding: 8px 0;
        align-self: center;
        margin: 15px 0;
        background-color: #FF8181;
        color: white;
    }
    .create-group-form-container {
        margin-bottom: 30px;
    }
    .create-group-form-container form {
        display: flex;
        flex-direction: column;
    }
    .create-group-form-container form div {
        display: flex;
        justify-content: space-around;
    }
    .create-group-form-container form div input{
        width: 110px;
        padding: 7px 0;
    }
    .create-group-form-container form div input:first-child{
        background-color: $success;
        color: white;
    }
    .create-group-form-container form div input:last-child {
        background-color: $cancel;
        color: white;
    }
    .create-group-form-container input {
        font-size: 15px;
    }
    .create-group-form-container input[type="text"] {
        border: 1px solid $greyBorder;
        border-radius: 15px;
        padding: 5px 20px;
        font-size: 17px;
        margin: 20px 0;
    }
    .dash-groups-headers {
        display: flex;
        border-bottom: 1px solid $greyBorder;
    }
    .groups-list li {
        display: flex;
        margin: 10px 0;
    }
    .d-g-left {
        width: 70%;
    }
    .d-g-right {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    li>.d-g-right {
        padding-left: 10px;
        padding-right: 20px;
    }
    //----- dash borrowed books
    .dash-borrowed-books {
        padding: 30px;
    }
    .dash-borrowed-books div:first-child {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $greyBorder;
    }
    .dash-borrowed-books div:last-child li{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    //----- dash collection
    .dash-collection {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .dash-collection button{
        font-size: 17px;
        width: 200px;
        padding: 8px 0;
        align-self: center;
        margin: 15px 0;
        background-color: #FF8181;
        color: white;
    }
    .add-to-collection-form-container {
        margin-bottom: 30px;
    }
    .add-to-collection-form-container form {
        display: flex;
        flex-direction: column;
    }
    .add-to-collection-form-container form div {
        display: flex;
        justify-content: space-around;
    }
    .add-to-collection-form-container form div input{
        width: 110px;
        padding: 7px 0;
    }
    .add-to-collection-form-container form div input:first-child{
        background-color: $success;
        color: white;
    }
    .add-to-collection-form-container form div input:last-child {
        background-color: $cancel;
        color: white;
    }
    .add-to-collection-form-container input {
        font-size: 15px;
    }
    .add-to-collection-form-container input[type="text"] {
        border: 1px solid $greyBorder;
        border-radius: 15px;
        padding: 5px 20px;
        font-size: 17px;
        margin: 10px 0;
    }
    .m-collections-headers {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $greyBorder;
    }
    .dash-collection ul li {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .dash-collection ul li div:first-child {
        display: flex;
        justify-content: space-between;
    }
    .dash-collection ul li div button {
        font-size: 12px;
    }
    .dash-collection ul li div:last-child h6 {
        margin: 5px 0;
    }
    .dash-collection div ul li div .m-dash-remove-from-group-btn {
        background-color: $info;
    }
    //----- dash notifications
    .dash-notifications {
        padding: 30px;
    }
    .dash-notifications>div:first-child {
        border-bottom: 1px solid $greyBorder;
    }
    .dash-notifications ul li {
        padding: 15px;
        border: 1px solid $greyBorder;
        display: flex;
        margin: 15px 0;
        justify-content: space-between;
    }
    .dash-notifications ul li div{
        display: flex;
        flex-direction: column;
        flex-grow: 3;
    }
    .dash-notifications ul li button {
        font-size: 12px;
        color: white;
        width: 90px;
        height: 30px;
    }
    .dash-notifications ul li button:first-child {
        background-color: $success;
    }
    .dash-notifications ul li button:last-child {
        background-color: $cancel;
        margin-left: 10px;
    }
    .dash-books-lent {
        padding: 30px;
    }
    .dash-books-lent div:first-child {
        border-bottom: 1px solid $greyBorder;
    }
    .dash-books-lent ul li {
        margin: 13px 0;
    }
    /*------------------------------------------------------------
    Group
    -------------------------------------------------------------*/
    .group {
        display: none;
    }
    .m-group {
        display: flex;
        flex-direction: column;
    }
    .group-head {
        width: 100%;
        height: 100px;
        border: 1px solid red;
    }
    .m-group-headers-container {
        padding: 30px;
        padding-bottom: 0;
        margin-bottom: 15px;
    }
    .m-group-headers-container div {
        display: flex;
    }
    .m-group-headers-container div h2{
        margin-bottom: 5px;
    }
    .m-group-headers-container div h5{
        margin-right: 10px;
    }
    .m-group-headers-container div {
        margin-right: 20px;
    }
    .m-group>h5 {
        color: $success;
        align-self: center;
    }
    .m-group .btn-container {
        display: flex;
        justify-content: space-around;
        padding: 0 30px;
        margin: 20px 0;
    }
    .m-group button {
        padding: 8px 0;
        font-size: 16px;
        background-color: $cancel;
        width: 80%;
        color: white;
        align-self: center;
        margin-bottom: 15px;
    }
    .m-group .btn-container button {
        font-size: 14px;
        padding: 5px 0;
        width: 120px;
        color: white;
    }
    .m-group .btn-container button:first-child {
        background-color: $info;
    }
    .m-group .btn-container button:last-child {
        background-color: $success;
    }
    .m-group form {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        margin: 20px 0;
    }
    .m-form-errors-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .m-form-errors-container h4 {
        color: $err;
    }
    .m-group form input{
        font-size: 14px;
    }
    .m-group form input[type='text']{
        border: 1px solid $greyBorder;
        padding: 5px;
    }
    .m-group form input[type='submit']{
        color: white;
        background-color: $info;
        padding: 10px;
        margin: 15px 0;
    }
    .m-group form input[type='button']{
        color: white;
        background-color: $cancel;
        padding: 10px;
        margin-bottom: 15px;
    }
    .m-group-info-headers {
        padding: 0 30px;
    }
    .m-group-info-headers div {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $greyBorder;
        border-bottom: 1px solid $greyBorder;
    }
    .m-group-item {
        padding: 30px;
        padding-top: 0;
    }
    .m-group-item li {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .m-group-item li a {
        margin-right: 5px;
    }
}
//--------------------------------------------------------------
//Desktop/Landscape view
@media (min-width: 420px) {
    /*------------------------------------------------------------
    Navbar
    -------------------------------------------------------------*/
    /*------------------------------------------------------------
    Dashboard
    -------------------------------------------------------------*/
    .dash-m {
        display: none;
    }
    .dash {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dash-container {
        display: flex;
        width: 95%;
        height: 90%;
        padding: 20px;
        border: 1px solid $greyBorder;
    }
    .dash-container .dash-section:first-child {
        flex-grow: 1;
    }
    .dash-section {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        border-right: 1px solid $greyBorder;
        padding: 30px;
    }
    .dash-section:last-child {
        border: none;
    }
    .dash-section .item-overflow {
        flex-grow: 1;
        overflow: auto;
    }
    .dash-section h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .dash-section li {
        margin: 15px 0;
    }
    .dash-section button {
        font-size: 18px;
        color: white;
        background-color: $info;
        margin: 15px 0;
        padding: 5px 20px;
    }
    .dash-section:nth-child(2) div:last-child {
        display: flex;
        justify-content: space-between;
    }
    .dash-section:last-child li{
        border: 1px solid $greyBorder;
        padding: 20px;
    }
    .dash-section:last-child li h6{
        margin: 5px;
    }
    .dash-section:last-child li div:last-child {
        display: flex;
        justify-content: space-between;
    }
    /*------------------------------------------------------------
    Group
    -------------------------------------------------------------*/
    .m-group {
        display: none;
    }
}
