@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway');

$btnBg: #42f4d4;
$navBg: rgba(15, 10, 10, .85);
$transparentBg: rgba(0, 0, 0, 0);
$greyBorder: #95989A;
$info: #06D4FF;
$link: #005DFF;
$err: #FF0000;
$success: #03EB60;
$cancel: #d9534f;

@keyframes navDropdown {
    from {
        top: -100%;
    }
    to {
        top: 80px;
    }
}
@keyframes navDropdownReverse {
    from {
        top: 80px;
    }
    to {
        top: -100%;
    }
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5, h6, p{
    color: #95989A;
}

a {
    text-decoration: none;
    color: #95989A;
}

ul {
    list-style: none;
}
/*------------------------------------------------------------
Navbar
-------------------------------------------------------------*/
.navbar {
    width: 100%;
    background-color: $navBg;
    display: flex;
}
.nav-left {
    width: 30%;
    padding: 5px 15px;
}
.nav-logo > h2{
    font-family: 'Cinzel Decorative';
    color: white;
}
.nav-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
/*------------------------------------------------------------
Landing Page
-------------------------------------------------------------*/
.hero {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/andrew-branch-180244.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero h2 {
    margin-top: -20px;
    margin-bottom: 20px;
}
.hero h2, .hero p {
    color: white;
}
.info {
    padding: 40px;
}
.info h2 {
    margin-bottom: 20px;
    align-self: center;
}
.steps-container {
    display: flex;
    flex-direction: column;
}
.steps-container .line {
    width: 0;
    border: 1px solid #95989A;
    height: 100px;
    align-self: center;
    margin: 15px 0;
}
/*------------------------------------------------------------
Signup page
-------------------------------------------------------------*/
.signup {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/john-mark-kuznietsov-266553.jpg');
    background-size: cover;
}
.signup-container {
    border: 1px solid $greyBorder;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.signup-container h2 {
    text-align: center;
    margin: 20px 0;
}
.signup-container .error-msg-container {
    width: 100%;
    height: 45px;
    border-top: 1px solid $greyBorder;
    padding: 5px 25px;
}
.error-msg-container h4 {
    text-align: center;
    color: $err;
    margin: 5px 0;
}
.signup-container form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.signup-container input:not([type=submit]) {
    border: 1px solid $greyBorder;
    font-size: 28px;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 5px 0;
}
.signup-container input[type="submit"] {
    font-size: 28px;
    color: white;
    padding: 5px;
    margin: 10px 0;
    background-color: $info;
}
.signup-container a {
    color: $link;
    font-size: 16px;
    margin-bottom: 40px;
    align-self: center;
}
/*------------------------------------------------------------
Login page
-------------------------------------------------------------*/
.login {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/john-mark-kuznietsov-266553.jpg');
    background-size: cover;
}
.login-container {
    border: 1px solid $greyBorder;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.login-container h2 {
    text-align: center;
    margin: 20px 0;
}
.login-container .error-msg-container {
    width: 100%;
    height: 45px;
    border-top: 1px solid $greyBorder;
    padding: 5px 25px;
}
.error-msg-container h4 {
    text-align: center;
    color: $err;
    margin: 5px 0;
}
.login-container form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.login-container input:not([type=submit]) {
    border: 1px solid $greyBorder;
    font-size: 28px;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 5px 0;
}
.login-container input[type="submit"] {
    font-size: 28px;
    color: white;
    padding: 5px;
    margin: 10px 0;
    background-color: $info;
}
.login-container a {
    color: $link;
    font-size: 16px;
    margin-bottom: 40px;
    align-self: center;
}
//--------------------------------------------------------------
//Mobile View
@media (max-width: 420px) {
    .btn {
        width: 150px;
        font-size: 16px;
        height: 30px;
        background-color: $btnBg;
        color: white;
    }
    .v-line {
        width: 100%;
        height: 0px;
        border: 1px solid white;
    }
    .dropdown-slideIn {
       animation: navDropdown;
       animation-duration: .6s;
       animation-iteration-count: 1;
       animation-fill-mode: forwards;
    }
    .dropdown-slideOut {
        animation: navDropdownReverse;
        animation-duration: .6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    /*------------------------------------------------------------
    Navbar
    -------------------------------------------------------------*/
    .navbar {
        height: 80px;
        padding: 5px 10px;
    }
    .nav-right .btn {
        display: none;
    }
    .nav-right {
        padding-right: 15px;
        justify-content: flex-end;
    }
    .dropdown-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55px;
        height: 40px;
    }

    .dropdown-menu {
        position: absolute;
        right: 0%;
        top: -100%;
        background-color: $navBg;
    }
    .dropdown-menu button {
        width: 100%;
        height: 100%;
        font-size: 18px;
        background-color: $transparentBg;
        color: white;
        padding: 20px 30px;
    }
    .dropdown-menu li {
        border-top: 1px solid #95989A;
    }
    /*------------------------------------------------------------
    Landing Page
    -------------------------------------------------------------*/
    .hero {
        background-position: center;
        background-size: 265%;
        padding: 0 15px;
    }
    /*------------------------------------------------------------
    Signup page
    -------------------------------------------------------------*/
    .signup {
        padding: 0 30px;
    }
    /*------------------------------------------------------------
    Login page
    -------------------------------------------------------------*/
    .login {
        padding: 0 30px;
    }
    /*------------------------------------------------------------
    Dashboard
    -------------------------------------------------------------*/
    .dash-m {
    }
    .dash-head {
        width: 100%;
        height: 100px;
        border: 1px solid red;
    }
    .dash-nav-container {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid green;
    }
    .dash-nav-container select {
        border: 1px solid $greyBorder;
        font-size: 20px;
        padding: 5px;
    }
    //----- dash groups
    .dash-groups {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .dash-groups button {
        font-size: 17px;
        width: 200px;
        padding: 8px 0;
        align-self: center;
        margin: 15px 0;
        background-color: #FF8181;
        color: white;
    }
    .create-group-form-container {
        margin-bottom: 30px;
    }
    .create-group-form-container form {
        display: flex;
        flex-direction: column;
    }
    .create-group-form-container form div {
        display: flex;
        justify-content: space-around;
    }
    .create-group-form-container form div input{
        width: 110px;
        padding: 7px 0;
    }
    .create-group-form-container form div input:first-child{
        background-color: $success;
        color: white;
    }
    .create-group-form-container form div input:last-child {
        background-color: $cancel;
        color: white;
    }
    .create-group-form-container input {
        font-size: 15px;
    }
    .create-group-form-container input[type="text"] {
        border: 1px solid $greyBorder;
        border-radius: 15px;
        padding: 5px 20px;
        font-size: 17px;
        margin: 20px 0;
    }
    .dash-groups-headers {
        display: flex;
        border-bottom: 1px solid $greyBorder;
    }
    .groups-list li {
        display: flex;
        margin: 10px 0;
    }
    .d-g-left {
        width: 70%;
    }
    .d-g-right {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    li>.d-g-right {
        padding-left: 10px;
        padding-right: 20px;
    }
    //----- dash borrowed books
    .dash-borrowed-books {
        padding: 30px;
    }
    .dash-borrowed-books div:first-child {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $greyBorder;
    }
    .dash-borrowed-books div:last-child li{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
}

//--------------------------------------------------------------
//Desktop/Landscape view
@media (min-width: 420px) {
    /*------------------------------------------------------------
    Navbar
    -------------------------------------------------------------*/
}
