<h1>dashboard</h1>

<h2>create group</h2>
<form action="/new-group" method="post">
  <input type="text" name="name">
  <input type="submit">
</form>

<h2>add book to collection</h2>
<form action="/add-book-to-collection">
  title
  <input type="text" name="title">
  author
  <input type="text" name="author">
  description
  <input type="text" name="description">
</form>

<ul>
<% User.groups.forEach(function(group) { %>
  <li><a href="/group/<%=group._id %>"><%= group.name %></a></li>

<% })%>
