<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Signup - GroupLibrary</title>
    <link rel="stylesheet" href="../css/simple-grid.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="../js/main.js"></script>
  </head>
  <body>
    <%- include navbar -%>
    
    <section class="group">
      <div class="row">
        <div class="col-12">
          <div class="group-container">
            <div class="row">
              <div class="col-12">
                <div class="group-header-container">
                  <h2><%= Group.name%></h2>
                  <p>Members: <%= Group.users.length%></p>
                  <p>Available books: <%= Group.books.length%></p>
                </div>
              </div>
            </div>

            <div class="row">
              
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
