<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Group Library</title>
    <link rel="stylesheet" href="../css/simple-grid.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="../js/main.js"></script>
  </head>
  <body>
    <%- include navbar -%>

    <section class="hero">
      <div class="container hero-container">
        <div class="container hero-text">
          <h2 class="hero-header">Make sharing books easy</h2>
          <h4 class="hero-msg">We make it simple to keep track of books you share so you can focus on other things, like reading</h4>
        </div>
        <button class="hero-btn btn">Get Started</button>
      </div>
    </section>

  </body>
</html>
