<section class="navbar">
  <div class="nav-left">
    <% var logoRedirect %>
    <% if(!User) {
       logoRedirect = '/'
       }else {
       logoRedirect = '/dashboard'
       }%>
       <a href="<%= logoRedirect %>">
      <h1 class="logo">Group Library</h1>
    </a>
  </div>

  <div class="nav-right">
    <% if(!User) {%>
    <div class="nav-loggedOut">
      <button class="login-btn btn">Login</button>
      <button class="signup-btn btn">Signup</button>
    </div>
    <% } %>
  </div>
</section>
