<h1>Signup view</h1>

<form action="/signup" method="post">
  <input type="text" name="username" value="username">
  <input type="password" name="password" value="password">
  <input type="email" name="email" value="email">
  <input type="submit" value="signup">
</form>
