<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Signup - GroupLibrary</title>
    <link rel="stylesheet" href="../css/simple-grid.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="../js/main.js"></script>
  </head>
  <body>
    <%- include navbar -%>

    <section class="signup-page">
      <div class="signup-info-container">

        <h2>Signup</h2>

        <div class="signup-error-container">
          <% if(errors) { %>
          <p class="signup-error-msg">
          <%= errors %>
          </p>
          <% } %>
        </div>

        <form class="signup-form" action="/signup" method="post">
          <input type="text" name="username" placeholder="username" required>
          <input type="email" name="email" placeholder="email@address" required>
          <input type="password" name="password" placeholder="password" required>
          <input class="btn" type="submit" value="Signup">
        </form>

        <a href="/login">Already have an account? Login here.</a>
      </div>
    </section>

    <%- include footer -%>
  </body>
</html>
