/* Defaults*/
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    color: #95989A;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
  opacity: .7;
}

li {
  list-style: none;
}

.btn {
  background-color: #007bff;
  border: none;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
}

.btn:hover {
  opacity: .7;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

/* Navbar Section */

.logo {
  color: #ffffff;
}

.login-btn, .signup-btn {
  opacity: .9;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 125px;
}

.signup-btn {
  background-color: #28a745;
}

.navbar {
  position: absolute;
  width: 100%;
  opacity: .85;
  background-color: #212121;

  display: -webkit-flex;
  display: flex;
}

.nav-left {
  flex: 1;
  margin: 10px 20px 10px 20px;
}

.nav-right {
  margin: 10px 20px 10px 20px;
}

.nav-loggedOut {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.nav-loggedIn {
  display: flex;
  display: -webkit-flex;
  width: 200px;
}

.nav-loggedIn>h2 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.nav-dropdown {
  width:  50px;
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;

}


.nav-drop-line {
  width: 100%;
  height: 8px;
  background-color: #ffffff;
}

/* Index page */
.hero {
  height: 100%;
  width: 100%;
  background-image: url('../images/andrew-branch-180244.jpg');
  background-size: cover;
}

.hero-container {
  height: 100%;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;

  -webkit-flex-direction: column;
  flex-direction: column;
}

.hero-header, .hero-msg {
  color: #fff;
  text-shadow: 1px 1px #777777;
  margin-bottom: 20px;
}

.hero-header {
  font-size: 300%;
}

.hero-text{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}

.hero-btn {
  font-size: 22px;
  width: 225px;
  background-color: #1dcaff;
}

/* Login page */
.login-page {
  width: 100%;
  height: 100vh;

  background-image: url('../images/john-mark-kuznietsov-266553.jpg');
  background-size: cover;
  background-position: bottom;

  display: flex;
  display: -webkit-flex;

  align-items: center;
  justify-content: center;
}

.login-info-container {
  padding: 40px 20px 40px 20px;
  height: 500px;
  width: 700px;
  background-color: rgba(255,255,255, .85);
  border-radius: 30px;

  display: flex;
  display: -webkit-flex;

  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.login-info-container>h2 {
  font-size: 38px;
  margin-bottom: 25px;
}

.login-error-container {
  height: 35px;
  margin-bottom: 25px;
}

.login-info-container>form {
  display: flex;
  display: -webkit-flex;
  width: 100%;

  -webkit-flex-direction: column;
  flex-direction: column;

  align-items: center;
}

.login-info-container>form>input {
  padding: 5px 0 5px 0;
  color: #878787;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.login-info-container>form>input[type="submit"] {
  color: white;
  width: 300px;
  height: 50px;
}

.login-info-container>a {
  color: #007bff;
}

.login-error-msg {
  color: #d9534f;
}

/* Signup View */
.signup-info-container {
  padding: 40px 20px 40px 20px;
  height: 500px;
  width: 700px;
  background-color: rgba(255,255,255, .85);
  border-radius: 30px;

  display: flex;
  display: -webkit-flex;

  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.signup-page {
  width: 100%;
  height: 100vh;

  background-image: url('../images/john-mark-kuznietsov-266553.jpg');
  background-size: cover;
  background-position: bottom;

  display: flex;
  display: -webkit-flex;

  align-items: center;
  justify-content: center;
}

.signup-info-container>h2 {
  font-size: 38px;
  margin-bottom: 25px;
}

.signup-error-container {
  height: 35px;
  margin-bottom: 25px;
}

.signup-info-container>form {
  display: flex;
  display: -webkit-flex;
  width: 100%;

  -webkit-flex-direction: column;
  flex-direction: column;

  align-items: center;
}

.signup-info-container>form>input {
  padding: 5px 0 5px 0;
  color: #878787;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.signup-info-container>form>input[type="submit"] {
  color: white;
  width: 300px;
  height: 50px;
}

.signup-info-container>a {
  color: #007bff;
}

.signup-error-msg {
  color: #d9534f;
}

/* Dashboard Page */
.dashboard{
  width: 100%;
  height: 100vh;
  background-image: url('../images/playstation-pattern.png');
}

.dash-container{
  width: 100%;
  height: 640px;
  background-color: rgba(255, 255, 255, .4);
  margin: 100px 0 50px 0;
  box-shadow: 1px 1px 10px #cccccc;
}

.dash-row {
  height: 100%;
  padding: 20px 10px 20px 10px;
}

.dash-item {
  height: 100%;
  border-right: 1px solid #cccccc;
}

.dash-item:last-child {
  border: none;
}

.dash-item>h2 {
  margin-bottom: 20px;
}

.dash-item>ul>li>p {
  padding-right: 20px;
  font-size: 12px;
  font-style: italic;
}

.dash-item>ul>li>a {
  color: #428bca;
  font-size: 20px;
}

.new-group-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 45px;
  font-size: 18px;
}

.create-group {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -150px;
  display: none;
}

.create-group-box {
  width: 400px;
  height: 300px;
  padding: 50px 25px;

  background-color: #1ebbff;
  border: 1px solid #0077aa;
  border-radius: 15px;
}

.create-group-box>form {
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  align-items: center;
}

.create-group-box>form>input {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

.create-group-box>form>input[type="button"] {
  width: 180px;
  background-color: #d9534f;
}
.create-group-box>form>input[type="submit"] {
  background-color: #5cb85c;
  width: 180px;
  margin-bottom: 0px;
}

.add-collection-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 45px;
  font-size: 18px;
}

.add-to-collection {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: none;
}

.add-to-collection-box {
  width: 400px;
  height: 400px;
  padding: 50px 25px;

  background-color: #1ebbff;
  border: 1px solid #0077aa;
  border-radius: 15px;
}

.add-to-collection-box>form {
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  align-items: center;
}

.add-to-collection-box>form>input {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

.add-to-collection-box>form>input[type="button"] {
  width: 180px;
  background-color: #d9534f;
}
.add-to-collection-box>form>input[type="submit"] {
  background-color: #5cb85c;
  width: 180px;
  margin-bottom: 0px;
}

.add-collection-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 45px;
  font-size: 18px;
}

.invite-container {
  border: 1px solid #cccccc;
  padding: 10px;
}

.invite-container>p {
  font-size: 14px;
  font-style: italic;
}

.invite-name {
  color: #433e90;
}

.invite-container>form>input[type="submit"] {
  width: 80px;
}

.invite-btn-container {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* group view */
.group{
  width: 100%;
  height: 100vh;
  background-image: url('../images/playstation-pattern.png');
}

.group-container{
  width: 100%;
  height: 640px;
  background-color: rgba(255, 255, 255, .4);
  margin: 100px 0 50px 0;
  box-shadow: 1px 1px 10px #cccccc;
}

.group-users-list {
  height: 450px;
  border-right: 1px solid #cccccc;
}

.group-users-list>h3 {
  margin-bottom: 20px;
}

.group-users-list>ul>li>a {
  color: #007D9B;
}

.group-books-available {
  height: 450px;
  border-right: 1px solid #cccccc;
}

.add-book-to-group-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #DADADA;
  width: 550px;
  height: 650px;
  left: 50%;
  top: 50%;
  margin-top: -325px;
  margin-left: -225px;
}

.add-book-to-group-cancel-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
}
